*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#panel{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

#ptop{
    width: 100%;
    height: 16%;
    background-color: rgba(71, 2, 71, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.main-box h4{
color: white;
font-size: 1.4rem;
font-weight: 400;
}

.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box1{
    padding: 15px 25px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: rgba(71, 2, 71, 0.74);;
    font-size: 1.5rem;
    font-weight: 600;
}

#pbtm{
    width: 100%;

align-items: center;
justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    height: calc(100% - 100px);
 
}

.circle{
    width:65px;
    height: 65px;
    border-radius: 100%;
    background-color: rgba(71, 2, 71, 0.74);;
    margin: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}
.circle:hover{
    background-color: rgb(94, 2, 94);
    cursor: pointer;
}